<section id="about-me" class="bg-tertiary">
  <div class="container">
    <h2 class="h2 text-secondary fw-bold mb-4">
      mgr Gabriela Pietrzak
    </h2>

    <p class="text-secondary mb-3">
      Konsultacje psychologiczne online są dobrym rozwiązaniem dla wszystkich, którzy cenią sobie oszczędność czasu,
      zmieniają lokalizację, podróżują lub mają ograniczoną mobilność. To również znaczne ułatwienie dla tych, którzy
      wolą pozostać w swoim otoczeniu podczas pracy z psychologiem. Zwracam uwagę na to, aby poza zamierzonym efektem
      spotkań, sam proces terapii psychologicznej był dla Ciebie lub Twoich bliskich przyjazny i rozwojowy. Pracuje w
      duchu zrozumienia, tolerancji i szacunku dla każdego człowieka - te wartości będą towarzyszyć naszej pracy.
      Wierzę, że rozwój samoświadomości, wraz ze zrozumieniem mechanizmów i emocji towarzyszących nam na co dzień,
      prowadzą do poprawy kondycji psychicznej i fizycznej. W końcu mam tak samo jak Ty.
    </p>

    <p class="text-secondary mb-3">
      Zapraszam do kontaktu i współpracy osoby gotowe do podjęcia działania na rzecz poprawy zdrowia psychicznego i
      jakości życia, jak i każdego
      kto potrzebuje wsparcia, zrozumienia i spojrzenia z perspektywy profesjonalisty na doświadczane emocje.
    </p>

    <p class="text-secondary">
      Ukończyłam jednolite studia magisterskie z psychologii na Uniwersytecie Śląskim. W trakcie studiów odbywałam
      wolontariat w
      placówce wspomagającej rozwój psychospołeczny dzieci pochodzących z rodzin dysfunkcyjnych. Doświadczenie zbierałam
      w pracy na oddziałach zamkniętych psychiatrycznych z młodymi dorosłymi oraz osobami starszymi w kryzysie
      suicydalnym, chorującymi psychicznie i zaburzonymi. Prowadzę psychoedukację osób z problemem uzależnień, jestem
      trenerem umiejętności społecznych i trenerem kontroli złości u dzieci, młodzieży i osób dorosłych. Odbyłam
      szkolenie z interwencji kryzysowej oraz opiniodawstwa psychologicznego. Swoją wiedzę i umiejętności aktualizuję na
      webinarach i szkoleniach z psychologii i dziedzin pokrewnych. Pracuję pod stałą superwizją. W diagnozowaniu i
      opiniodawstwie psychologicznym korzystam z testów Polskiego Towarzystwa Psychologicznego.
    </p>
  </div>
  </div>
</section>