<section id="footer">
  <div class="bg-image"></div>
  <div class="bg-image-blur"></div>
  <div class="container">
    <div class="thumb">
      <div class="row">
        <div class="col-12 col-md-6">
          <svg style="fill: var(--bs-tertiary)" width="30" height="30">
            <use href="#_sprite_call"></use>
          </svg>
          <a href="tel:+48 533 885 281" class="ms-2">+48 533 885 281</a>
        </div>

        <div class="col-12 col-md-6">
          <svg style="fill: var(--bs-tertiary)" width="30" height="30">
            <use href="#_sprite_instagram"></use>
          </svg>
          <a href="https://instagram.com/projektpsychologia" class="ms-2" target="_blank" rel="noopener noreferrer">instagram.com/projektpsychologia</a>
        </div>

        <div class="col-12 col-md-6">
          <svg style="fill: var(--bs-tertiary)" width="30" height="30">
            <use href="#_sprite_mail"></use>
          </svg>
          <a href="mailTo:kontaktprojektpsychologia@gmail.com" class="ms-2">kontaktprojektpsychologia@gmail.com</a>
        </div>

        <div class="col-12 col-md-6">
          <svg style="fill: var(--bs-tertiary)" width="30" height="30">
            <use href="#_sprite_site"></use>
          </svg>
          <a href="https://twojpsycholog.pl/projektpsychologia" class="ms-2" target="_blank" rel="noopener noreferrer">twojpsycholog.pl/projektpsychologia</a>
        </div>
      </div>

      <h2 class="title text-secondary text-center">projekt psychologia</h2>
    </div>
  </div>
</section>
