<section id="header">
  <div class="container">
    <div class="row title">
      <div class="col-12 col-md-6">
        <div class="d-flex justify-content-between align-items-center mt-5 d-none d-md-flex">
          <a class="text-primary fw-bold" href="#about-me">kim jestem?</a>
          <svg style="fill: var(--bs-secondary)" width="15" height="15">
            <use href="#_sprite_star"></use>
          </svg>
          <a class="text-primary fw-bold" href="#what-i-do">co robię?</a>
          <svg style="fill: var(--bs-secondary)" width="15" height="15">
            <use href="#_sprite_star"></use>
          </svg>
          <a class="text-primary fw-bold" href="#instagram">gdzie jestem?</a>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <h1 class="h1 fw-bold text-tertiary text-end display-1">project<br>psychologia</h1>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-4 d-md-none">
        <a class="text-primary fw-bold" href="">kim jestem?</a>
        <div class="mx-2">
          <svg style="fill: var(--bs-secondary)" width="15" height="15">
            <use href="#_sprite_star"></use>
          </svg>
        </div>
        <a class="text-primary fw-bold" href="">co robię?</a>
        <div class="mx-2">
          <svg style="fill: var(--bs-secondary)" width="15" height="15">
            <use href="#_sprite_star"></use>
          </svg>
        </div>
        <a class="text-primary fw-bold" href="">gdzie jestem?</a>
      </div>
    </div>

    <div class="d-flex justify-content-center w-100 w-sm-auto">
      <a href="#footer" class="btn btn-primary contact-btn w-100 w-sm-auto">
        Skontactuj się ze mną
      </a>
    </div>
  </div>
</section>