<section id="instagram" class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="h2 text-primary fw-bold mb-4">
          Instagram
        </h2>

        <p class="m-0 text-primary">
          Poza pracą online i życiem offline możesz znaleźć mnie na instagramie, gdzie piszę o tym co myślę i czuję. Opisuję
          tam pięknych ludzi i wyjątkowe zdarzenia, a w opozycji niedoskonałe emocje i negatywne nastroje. Trafisz tam na
          zdjęcia fotografów, z których jestem prawdziwie dumna i pracę ludzi, których niewątpliwie kocham. Piszę o sobie, o
          ludziach których znam lub chciałabym i których nie poznam. O trudnościach, słabościach i obawach w obliczu życia,
          relacji i nas samych. Różnicach między lękiem i strachem i dlaczego wszyscy czujemy się tak samo, ale nikt nie
          chce o tym mówić. Normalizuje zwykłość i dni kiedy czujemy się źle, bo mamy do tego najpełniejsze prawo. Możesz
          czuć się tu u siebie, a mi będzie ogromnie miło Cię gościć.
        </p>
      </div>

      <div class="col-12 col-md-6 mt-5 mt-sm-4 mt-md-none">
        <div class="m-auto img-iphone-thumb">
          <img src="./assets/iphone.png" alt="Iphone" class="position-relative">
        </div>
      </div>
    </div>
  </div>
</section>