<section id="project-description">
  <div class="container text-tertiary">
    <h2 class="h2 text-tertiary fw-bold mb-4">
      Pracujemy wspólnie dla innych
    </h2>

    <p class="mb-3 text-tertiary">
      Podejmując się pracy ze mną działasz też na rzecz osób, które potrzebują wsparcia i pomocy, ale znajdują się w
      trudnej sytuacji życiowej i nie mogą sobie na nią pozwolić.
    </p>

    <p class="mb-3 text-tertiary">
      15% kwoty którą dzięki swojej pracy zarabiam - przeznaczam na budżet kryzysowy. Po kilku naszych wizytach
      zapraszam na darmową konsultację osobę w potrzebie.
    </p>

    <p class="m-0 text-tertiary">
      Jeżeli jesteś w trudnej sytuacji, odczuwasz bezradność i osamotnienie w przeżywaniu emocji - skontaktuj się ze mną
      za dowolnym pośrednictwem i opisz swoją sytuację. Poradzimy sobie. Razem.
    </p>
  </div>
</section>