<section id="what-i-do">
  <div class="container">
    <h2 class="h2 text-tertiary fw-bold mb-4">
      Czym się zajmuję?
    </h2>
  </div>

  <div class="container-md">
    <div class="services">
      <div class="slick-item">
        <div class="px-3">
          <img src="./assets/about-1.png" class="w-100" alt="what i do">
          <h3 class="h3 text-tertiary mt-4">Konsultacja<br>psychologiczna</h3>
          <p class="text-primary m-0 my-3">110zł / 50min</p>
          <p class="m-0 text-tertiary">
            Jednorazowe spotkanie lub interwencja kryzysowa. Ma na celu skonsultowanie bieżących trudności, poprawę
            stanu
            psychicznego, psychoedukację, wsparcie w przeżywaniu towarzyszących emocji i określenie możliwości przyszłej
            pracy nad dobrostanem psychicznym. Podejście dostosowuję do indywidualnych potrzeb i zasobów klientów.
          </p>
        </div>
      </div>

      <div class="slick-item">
        <div class="px-3">
          <img src="./assets/about-2.png" class="w-100" alt="what i do">
          <h3 class="h3 text-tertiary mt-4">Terapia<br>psychologiczna</h3>
          <p class="text-primary m-0 my-3">110zł / 50min</p>
          <p class="m-0 text-tertiary">
            Cykl sesji rozłożony w czasie dostosowanym do Twoich potrzeb i możliwości. Celem jest dotarcie do źródła
            trudności i skonstruowanie koncepcji działań wspierających samopoznanie i rozwój osobisty. Dążymy do
            rozpoznawania i kontrolowania stanów emocjonalnych, co pozwala umiejętnie radzić sobie w sytuacjach trudnych
            i
            stresowych.
          </p>
        </div>
      </div>

      <div class="slick-item">
        <div class="px-3">
          <img src="./assets/about-3.png" class="w-100" alt="what i do">
          <h3 class="h3 text-tertiary mt-4">Diagnoza i<br>opiniodawstwo</h3>
          <p class="text-primary m-0 my-3">100zł - 400zł</p>
          <p class="m-0 text-tertiary">
            Proces diagnozy i opiniodawstwa psychologicznego trwa od jednego do kilku spotkań w zależności od złożoności
            testów i diagnozy oraz możliwości osoby badanej. Interpretacja wyników zamykana jest w opinii wystawionej do
            użytku własnego lub przedłożenia w instytucjach. W pracy stosuję jedynie testy pochodzące z baterii testów
            Polskiego Towarzystwa Psychologicznego.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
