#header {
  padding-top: 2.375rem;
  padding-bottom: 9.3125rem;
  background-image: url("../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 22%;

  //& .title {
  //  margin-top: 2.375rem;
  //}

  & .contact-btn {
    margin-top: 26.135rem;
    padding: .75rem 2rem;
  }
}
