#header {
  padding-top: 2.375rem;
  padding-bottom: 9.3125rem;
  background-image: url("../assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 22% 25%;

  @include media-breakpoint-down(md) {
    background-image: linear-gradient(to right, rgba(201, 201, 201, 0.1), rgba(201, 201, 201, 0.1)), url(../assets/header-md.png);
  }

  //& .title {
  //  margin-top: 2.375rem;
  //}

  & .contact-btn {
    margin-top: 26.135rem;
    padding: .75rem 2rem;
  }
}
